.TrendingList {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.TrendingList-item {
  position: relative;
  display: flex;
  margin: 10px;
  width: calc(100% / 4 - 20px);
  align-items: center;
  color: var(--theme-color-secondary);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.TrendingList-item:hover,
.TrendingList-item:hover .TrendingList-item--link {
  color: var(--theme-color);
  background-color: var(--bg-grey);
}

.TrendingList-item--link {
  display: flex;
  width: 100%;
  color: var(--theme-color-secondary);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.TrendingList-item--link img {
  margin-right: 5px;
}

.TrendingList-item--link span {
  width: 100%;
}
