.SearchForm {
  position: relative;
  margin-bottom: 20px;
  width: fit-content;
}

.SearchForm-input {
  padding: 10px 35px 10px 10px;
  width: 370px;
  border: 2px solid var(--theme-color-secondary);
  outline: none;
}

.SearchForm-input:focus {
  border-color: var(--theme-color);
}

.SearchForm-input,
.SearchForm-input::placeholder {
  color: var(--theme-color-secondary);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.SearchForm-button {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  width: 33px;
  height: 33px;
  background: none;
  border: none;
  cursor: pointer;
}

.SearchForm-icon {
  width: 25px;
  height: 25px;
  color: var(--theme-color-secondary);
}
